h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

input {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  line-height: 1.6;
  font-family: roboto, sans-serif;
  background-color: #f3efea;
  color: #1b6ab3;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.page {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1344px;
  padding: 0 18px;
  margin: 0 auto;
  box-sizing: content-box;
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 12px;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .header__container {
    min-height: 70px;
    align-items: center;
  }
}

.icon-logo {
  width: 104px;
  height: 35px;
}
@media (min-width: 1200px) {
  .icon-logo {
    width: 148px;
    height: 50px;
  }
}

.icon-menu {
  width: 30px;
  height: 10px;
}

.header__menu-block {
  display: none;
}
@media (min-width: 768px) {
  .header__menu-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  margin-right: 50px;
}

.menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
}
@media (min-width: 768px) {
  .menu__link {
    font-size: 12px;
  }
}

.header__select {
  color: inherit;
  border: none;
  background-color: transparent;
  margin-right: 40px;
}
@media (min-width: 768px) {
  .header__select {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .header__btn.btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__btn.btn {
    display: block;
  }
}

@media (min-width: 768px) {
  .header__btn-menu-mob {
    display: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1b6ab3;
  padding: 0 32px;
  min-height: 50px;
}
@media (min-width: 768px) {
  .btn {
    font-size: 10px;
    min-height: 33px;
  }
}
@media (min-width: 1200px) {
  .btn {
    font-size: 16px;
    min-height: 50px;
  }
}

.main-block {
  position: relative;
}

.main-block__body {
  position: relative;
  z-index: 2;
  padding-bottom: 60px;
  padding-top: 395px;
}
@media (min-width: 1200px) {
  .main-block__body {
    padding-bottom: 40px;
    padding-top: 560px;
  }
}

.main-block__title-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .main-block__title-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.title-block__line {
  display: none;
}
@media (min-width: 1200px) {
  .title-block__line {
    display: block;
  }
}

.title-block__title {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .title-block__title {
    font-size: 80px;
    line-height: 1.25;
  }
}

@media (min-width: 1200px) {
  .title-block__title.first-title {
    max-width: 521px;
  }
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn.btn-mobile {
  width: 100%;
  max-width: 410px;
  margin-top: 30px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .btn.btn-mobile {
    max-width: 266px;
  }
}
@media (min-width: 1200px) {
  .btn.btn-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .treatments__container {
    padding: 0;
  }
}
.treatments__header {
  font-family: Roboto;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding: 0px 18px 40px 18px;
  text-align: center;
}
@media (min-width: 1200px) {
  .treatments__header {
    padding: 0 0 40px 0;
    font-size: 48px;
    text-align: left;
  }
}

.treatments__body {
  padding-top: 50px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .treatments__body {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .treatments__body {
    position: relative;
    padding-top: 100px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1344px) {
  .treatments__body {
    padding-left: 204px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1343px) {
  .treatments__body {
    padding-left: 100px;
  }
}
.treatments__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .treatments__list {
    flex-direction: row;
    margin: 0 -12px;
  }
}

.treatment__item {
  flex: 0 1 100%;
  padding: 12px 0;
}
@media (min-width: 768px) {
  .treatment__item {
    flex: 0 1 33.333%;
    padding: 0 12px;
  }
}

.item-treatment__block {
  padding-top: 48vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
@media (min-width: 768px) {
  .item-treatment__block {
    padding-top: 13.5vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__block {
    padding-top: 170px;
  }
}

.item-treatment__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-treatment__descr-block {
  position: relative;
  background-color: #dcd7c8;
  flex: 0 1 55%;
  padding: 3.1vw 3.1vw 3.5vw 3.1vw;
}
@media (min-width: 768px) {
  .item-treatment__descr-block {
    flex: 0 1 75%;
    padding: 1.82vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__descr-block {
    flex: 0 1 63%;
    padding: 20px 20px;
  }
}

.item-treatment__descr-block.descr-block__blue {
  background-color: #1b6ab3;
  color: #f5f0e2;
}

.item-treatment__descr-block.descr-block__light-blue {
  background-color: #8abde2;
  color: #f5f0e2;
}

.item-treatment__title {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 5vw;
  margin-bottom: 6vw;
}
@media (min-width: 768px) {
  .item-treatment__title {
    font-size: 1.4vw;
    margin-bottom: 2.2vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.item-treatment__icon {
  width: 3.5vw;
  height: 4vw;
  margin-bottom: 4vw;
}
@media (min-width: 768px) {
  .item-treatment__icon {
    width: 1.2vw;
    height: 1.4vw;
    margin-bottom: 1vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__icon {
    width: 11px;
    height: 13px;
    margin-bottom: 18px;
  }
}

.item-treatment__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3.2vw;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .item-treatment__description {
    font-size: 1.14vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__description {
    font-size: 12px;
  }
}

.treatments__btn {
  display: block;
  position: inherit;
  left: 0;
  top: 0;
  transform: rotate(0);
  margin: 50px auto 0 auto;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .treatments__btn {
    position: absolute;
    margin: 0;
    left: 35px;
    top: 55%;
    transform: rotate(-90deg);
  }
}

@media screen and (min-width: 1344px) {
  .treatments__btn {
    left: 141px;
  }
}
.treatments__btn::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 11px;
  margin: 0 0 0 4px;
  background-image: url(../../images/icons/see-all-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.section__offer {
  position: relative;
}

.block__offer {
  background-color: #8abde2;
}
@media (min-width: 768px) {
  .block__offer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
.offer__card {
  z-index: 2;
  position: relative;
}
.offer__body {
  display: flex;
  justify-content: flex-end;
  padding: 50px 0 70px 0;
}
@media (min-width: 768px) {
  .offer__body {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 61px;
    padding: 50px 61px 100px 0;
  }
}
@media (min-width: 1200px) {
  .offer__body {
    padding: 60px 96px 130px 0;
  }
}

@media (min-width: 768px) {
  .offer__header-block {
    flex: 0 1 50%;
  }
}

.offer__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 6vw;
  color: #f5f0e2;
}
@media (min-width: 768px) {
  .offer__header {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .offer__header {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .offer-card__container {
    padding: 0;
  }
}
.offer-card__container {
  display: flex;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .offer-card__container {
    margin: 0 -12px;
  }
}
@media (min-width: 1200px) {
  .offer-card__container {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1344px) {
  .offer-card__container {
    padding-left: 204px;
  }
}
.offer__block {
  flex: 0 1 100%;
}
@media (min-width: 768px) {
  .offer__block {
    padding: 0 12px;
    flex: 0 1 33.333%;
  }
}

.item-offer {
  position: relative;
  text-align: center;
  padding: 60px 18px 80px 18px;
}
@media (min-width: 768px) {
  .item-offer {
    padding: 4vw;
  }
}
@media (min-width: 1200px) {
  .item-offer {
    padding: 60px 46px;
  }
}

.item-offer__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-offer__content-block {
  position: relative;
}

.item-offer__title-block {
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .item-offer__title-block {
    margin-bottom: 6.5vw;
  }
}
@media (min-width: 1200px) {
  .item-offer__title-block {
    margin-bottom: 50px;
  }
}

.item-offer__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 5vw;
}
@media (min-width: 768px) {
  .item-offer__header {
    font-size: 1.55vw;
  }
}
@media (min-width: 1200px) {
  .item-offer__header {
    font-size: 20px;
  }
}

.item-offer__header:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .item-offer__header:not(:last-child) {
    margin-bottom: 6px;
  }
}

.offer-header__beige {
  color: #f5f0e2;
}

.item-offer__descr {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.2;
  color: #f5f0e2;
  font-size: 4.4vw;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .item-offer__descr {
    font-size: 1.3vw;
    margin-bottom: 8.5vw;
  }
}
@media (min-width: 1200px) {
  .item-offer__descr {
    font-size: 16px;
    margin-bottom: 65px;
  }
}

.item-offer__btn {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f5f0e2;
  border: 1px solid #f5f0e2;
  width: 100%;
  max-width: 410px;
  padding: 0 20px;
  font-size: 15px;
  min-height: 50px;
}
@media (min-width: 768px) {
  .item-offer__btn {
    min-height: 34px;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .item-offer__btn {
    min-height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .offer__card-box {
    padding: 0;
  }
}
.clents__body {
  display: flex;
}

.clients__block {
  padding: 40px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .clients__block {
    padding: 40px 60px;
  }
}
@media (min-width: 1200px) {
  .clients__block {
    padding: 80px 96px 129px 0;
    min-width: 47vw;
    text-align: left;
  }
}

.clients__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 8.5vw;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .clients__header {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .clients__header {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.clients__img {
  margin-bottom: 106px;
}
@media (min-width: 768px) {
  .clients__img {
    margin-bottom: 92px;
  }
}
@media (min-width: 1200px) {
  .clients__img {
    margin-bottom: 114px;
  }
}

.clients__img img {
  max-width: 100%;
}

.clients__title-block {
  text-align: left;
}

.title-block__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 6.2vw;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .title-block__header {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .title-block__header {
    font-size: 26px;
  }
}

.title__block-descr {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  font-size: 3.75vw;
}
@media (min-width: 768px) {
  .title__block-descr {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .title__block-descr {
    font-size: 16px;
  }
}

.clients__sidebar {
  display: none;
}
@media (min-width: 1200px) {
  .clients__sidebar {
    display: block;
    min-width: 43vw;
  }
}

.clients__sidebar img {
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.section__test {
  background-color: #8abde2;
  color: #f5f0e2;
}

.test__body {
  display: flex;
}

.test__img {
  display: none;
}
@media (min-width: 768px) {
  .test__img {
    display: block;
    flex: 0 1 50%;
  }
}
@media (min-width: 1200px) {
  .test__img {
    flex: 0 1 43%;
    transform: translateX(-70px);
  }
}

.test__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.test__content {
  padding: 50px 0 70px 0;
}
@media (min-width: 768px) {
  .test__content {
    flex: 0 1 50%;
    padding: 40px 0 60px 37px;
  }
}
@media (min-width: 1200px) {
  .test__content {
    flex: 0 1 57%;
    padding: 100px 96px 100px 52px;
  }
}

.test__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .test__header {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .test__header {
    font-size: 30px;
    margin-bottom: 60px;
  }
}

.test__descr-block {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .test__descr-block {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .test__descr-block {
    margin-bottom: 100px;
  }
}

.test__descr-block p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.6;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .test__descr-block p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .test__descr-block p {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .test__descr-block p {
    margin-bottom: 30px;
  }
}

.test__descr-block p:not(:last-child) {
  margin-bottom: 30px;
}

.test__btn {
  font-size: 16px;
  min-height: 50px;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .test__btn {
    min-width: 264px;
  }
}
@media (min-width: 1200px) {
  .test__btn {
    min-height: 60px;
  }
}/*# sourceMappingURL=main.css.map */