h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

input {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  line-height: 1.6;
  font-family: roboto, sans-serif;
  background-color: #f3efea;
  color: #1b6ab3;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.page {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._ibg {
  position: relative;
}

._ibg img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.inverted {
  background-color: #f3efea;
}

.container {
  max-width: 1344px;
  padding: 0 18px;
  margin: 0 auto;
  box-sizing: content-box;
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 12px;
  }
}

.header {
  position: fixed;
  top: -80px;
  width: 100%;
  left: 0;
  z-index: 50;
  background-color: #f5f0e2;
  transition: top 400ms ease-in-out;
}
.header--transparent-bg {
  background-color: transparent;
}
.header--visible {
  top: 0;
  transition: top 200ms ease-in-out;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .header__body {
    min-height: 70px;
    align-items: center;
  }
}

.header__logo-link {
  width: 104px;
  height: 35px;
}
@media (min-width: 768px) {
  .header__logo-link {
    width: 85px;
    height: 28px;
  }
}
@media (min-width: 1200px) {
  .header__logo-link {
    width: 148px;
    height: 50px;
  }
}

.icon-logo {
  position: absolute;
  z-index: 5;
  width: 104px;
  height: 35px;
  fill: #1b6ab3;
  transition: fill 0.3s 0.3s;
}
@media (min-width: 768px) {
  .icon-logo {
    width: 85px;
    height: 28px;
  }
}
@media (min-width: 1200px) {
  .icon-logo {
    width: 148px;
    height: 50px;
  }
}

.open .icon-logo {
  fill: #f5f0e2;
}

@media (min-width: 768px) {
  .header__menu-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 150px 0 70px 0;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .menu__item:not(:last-child) {
    margin: 0 0 24px 0;
  }
}
.open .header__menu {
  display: block;
  background-color: #1b6ab3;
  color: #f5f0e2;
  opacity: 1;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
@media (min-width: 768px) {
  .menu__list {
    opacity: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.open .menu__list {
  opacity: 1;
  transition: opacity 0.64s ease;
}

.menu__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
}
@media (min-width: 768px) {
  .menu__link {
    font-size: 16px;
    line-height: 1.18;
  }
}
@media (min-width: 768px) {
  .menu__link {
    font-size: 12px;
  }
}

.menu__item {
  margin: 0;
}
@media (min-width: 768px) {
  .menu__item {
    margin: 0 50px 0 0;
  }
}

.header__select {
  display: none;
  color: inherit;
  border: none;
  background-color: transparent;
  margin-right: 40px;
}
@media (min-width: 768px) {
  .header__select {
    display: block;
    font-size: 12px;
  }
}

.header__btn.btn {
  display: none;
}
@media (min-width: 1200px) {
  .header__btn.btn {
    display: block;
  }
}

.burger-wrap {
  position: absolute;
  top: 18px;
  right: 18px;
}

.header__btn-menu-mob {
  width: 30px;
  height: 35px;
}
@media (min-width: 768px) {
  .header__btn-menu-mob {
    display: none;
  }
}

.open .header__btn-menu-mob {
  display: flex;
  justify-content: center;
}

.header__btn-menu-mob span {
  display: block;
  background: #1b6ab3;
  width: 30px;
  height: 2px;
  transition: all 0.3s 0.1s;
}

.header__btn-menu-mob .burger__second-line {
  margin-top: 6px;
}

.open .header__btn-menu-mob span {
  position: absolute;
  top: 14px;
  width: 20px;
  transition: all 0.3s ease-in;
  transform: rotate(0);
}

.open .header__btn-menu-mob span {
  background-color: beige;
}

.open .header__btn-menu-mob .burger__first-line {
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.open .header__btn-menu-mob .burger__second-line {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1b6ab3;
  padding: 0 32px;
  min-height: 50px;
}
@media (min-width: 768px) {
  .btn {
    font-size: 10px;
    min-height: 33px;
  }
}
@media (min-width: 1200px) {
  .btn {
    font-size: 16px;
    min-height: 50px;
  }
}

.main-block {
  position: relative;
}

.main-block__body {
  position: relative;
  z-index: 2;
  padding-bottom: 60px;
  padding-top: 395px;
}
@media (min-width: 1200px) {
  .main-block__body {
    padding-bottom: 40px;
    padding-top: 560px;
  }
}

.main-block__title-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .main-block__title-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.title-block__line {
  display: none;
}
@media (min-width: 1200px) {
  .title-block__line {
    display: block;
  }
}

.title-block__title {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .title-block__title {
    font-size: 80px;
    line-height: 1.25;
  }
}

@media (min-width: 1200px) {
  .title-block__title.first-title {
    max-width: 521px;
  }
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn.btn-mobile {
  width: 100%;
  max-width: 410px;
  margin-top: 30px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .btn.btn-mobile {
    max-width: 266px;
  }
}
@media (min-width: 1200px) {
  .btn.btn-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .treatments__container {
    padding: 0;
  }
}
.treatments__header {
  font-family: Roboto;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding: 0px 18px 40px 18px;
  text-align: center;
}
@media (min-width: 1200px) {
  .treatments__header {
    padding: 0 0 40px 0;
    font-size: 48px;
    text-align: left;
  }
}

.treatments__body {
  padding-top: 50px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .treatments__body {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .treatments__body {
    position: relative;
    padding-top: 100px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1344px) {
  .treatments__body {
    padding-left: 204px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1343px) {
  .treatments__body {
    padding-left: 100px;
  }
}
.treatments__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .treatments__list {
    flex-direction: row;
    margin: 0 -12px;
  }
}

.treatment__item {
  flex: 0 1 100%;
  padding: 12px 0;
}
@media (min-width: 768px) {
  .treatment__item {
    flex: 0 1 33.333%;
    padding: 0 12px;
  }
}

.item-treatment__block {
  padding-top: 47vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
@media (min-width: 768px) {
  .item-treatment__block {
    padding-top: 13vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__block {
    padding-top: 170px;
  }
}

.item-treatment__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-treatment__descr-block {
  position: relative;
  background-color: #dcd7c8;
  flex: 0 1 59%;
  padding: 5vw 5.7vw 5vw 5vw;
}
@media (min-width: 768px) {
  .item-treatment__descr-block {
    flex: 0 1 78%;
    min-height: 175px;
    padding: 1.82vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__descr-block {
    flex: 0 1 230px;
    padding: 20px 20px;
  }
}

.item-treatment__descr-block.descr-block__blue {
  background-color: #1b6ab3;
  color: #f5f0e2;
}

.item-treatment__descr-block.descr-block__light-blue {
  background-color: #8abde2;
  color: #f5f0e2;
}

.item-treatment__title {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 5vw;
  margin-bottom: 11vw;
}
@media (min-width: 768px) {
  .item-treatment__title {
    font-size: 1.8vw;
    margin-bottom: 2.2vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.item-treatment__icon {
  width: 3.5vw;
  height: 4vw;
  margin-bottom: 4vw;
}
@media (min-width: 768px) {
  .item-treatment__icon {
    width: 1.2vw;
    height: 1.4vw;
    margin-bottom: 1vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__icon {
    width: 11px;
    height: 13px;
    margin-bottom: 18px;
  }
}

.item-treatment__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3.2vw;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .item-treatment__description {
    font-size: 1.3vw;
  }
}
@media (min-width: 1200px) {
  .item-treatment__description {
    font-size: 12px;
  }
}

.treatments__btn {
  display: block;
  position: inherit;
  left: 0;
  top: 0;
  transform: rotate(0);
  margin: 50px auto 0 auto;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .treatments__btn {
    position: absolute;
    margin: 0;
    left: 35px;
    top: 55%;
    transform: rotate(-90deg);
  }
}

@media screen and (min-width: 1344px) {
  .treatments__btn {
    left: 141px;
  }
}
.treatments__btn::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 11px;
  margin: 0 0 0 4px;
  background-image: url(../../images/icons/see-all-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.section__offer {
  position: relative;
}

.block__offer {
  background-color: #8abde2;
}
@media (min-width: 768px) {
  .block__offer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
.offer__card {
  z-index: 2;
  position: relative;
}
.offer__body {
  display: flex;
  justify-content: flex-end;
  padding: 50px 0 70px 0;
}
@media (min-width: 768px) {
  .offer__body {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 61px;
    padding: 50px 61px 100px 0;
  }
}
@media (min-width: 1200px) {
  .offer__body {
    padding: 60px 96px 130px 0;
  }
}

@media (min-width: 768px) {
  .offer__header-block {
    flex: 0 1 50%;
  }
}

.offer__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 6vw;
  color: #f5f0e2;
}
@media (min-width: 768px) {
  .offer__header {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .offer__header {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .offer-card__container {
    padding: 0;
  }
}
.offer-card__container {
  display: flex;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .offer-card__container {
    margin: 0 -12px;
  }
}
@media (min-width: 1200px) {
  .offer-card__container {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1344px) {
  .offer-card__container {
    padding-left: 204px;
  }
}
.offer__block {
  flex: 0 1 100%;
}
@media (min-width: 768px) {
  .offer__block {
    padding: 0 12px;
    flex: 0 1 33.333%;
  }
}

.item-offer {
  position: relative;
  text-align: center;
  padding: 60px 18px 80px 18px;
}
@media (min-width: 768px) {
  .item-offer {
    padding: 4vw;
  }
}
@media (min-width: 1200px) {
  .item-offer {
    padding: 60px 46px;
  }
}

.item-offer__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-offer__content-block {
  position: relative;
}

.item-offer__title-block {
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .item-offer__title-block {
    margin-bottom: 6.5vw;
  }
}
@media (min-width: 1200px) {
  .item-offer__title-block {
    margin-bottom: 50px;
  }
}

.item-offer__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 5vw;
}
@media (min-width: 768px) {
  .item-offer__header {
    font-size: 1.55vw;
  }
}
@media (min-width: 1200px) {
  .item-offer__header {
    font-size: 20px;
  }
}

.item-offer__header:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .item-offer__header:not(:last-child) {
    margin-bottom: 6px;
  }
}

.offer-header__beige {
  color: #f5f0e2;
}

.item-offer__descr {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.2;
  color: #f5f0e2;
  font-size: 4.4vw;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .item-offer__descr {
    font-size: 1.3vw;
    margin-bottom: 8.5vw;
  }
}
@media (min-width: 1200px) {
  .item-offer__descr {
    font-size: 16px;
    margin-bottom: 65px;
  }
}

.item-offer__btn {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f5f0e2;
  border: 1px solid #f5f0e2;
  width: 100%;
  max-width: 410px;
  padding: 0 20px;
  font-size: 15px;
  min-height: 50px;
}
@media (min-width: 768px) {
  .item-offer__btn {
    min-height: 34px;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .item-offer__btn {
    min-height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .offer__card-box {
    padding: 0;
  }
}
.clents__body {
  display: flex;
}

.clients__block {
  padding: 40px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .clients__block {
    padding: 40px 60px;
  }
}
@media (min-width: 1200px) {
  .clients__block {
    padding: 80px 96px 129px 0;
    min-width: 47vw;
    text-align: left;
  }
}

.clients__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 8.5vw;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .clients__header {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .clients__header {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.clients__img {
  margin-bottom: 106px;
}
@media (min-width: 768px) {
  .clients__img {
    margin-bottom: 92px;
  }
}
@media (min-width: 1200px) {
  .clients__img {
    margin-bottom: 114px;
  }
}

.clients__img img {
  max-width: 100%;
}

.clients__title-block {
  text-align: left;
}

.title-block__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 6.2vw;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .title-block__header {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .title-block__header {
    font-size: 26px;
  }
}

.title__block-descr {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  font-size: 3.75vw;
}
@media (min-width: 768px) {
  .title__block-descr {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .title__block-descr {
    font-size: 16px;
  }
}

.clients__sidebar {
  display: none;
}
@media (min-width: 1200px) {
  .clients__sidebar {
    display: block;
    min-width: 43vw;
  }
}

.clients__sidebar img {
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.section__test {
  background-color: #8abde2;
  color: #f5f0e2;
}

.test__body {
  display: flex;
}

.test__img {
  display: none;
}
@media (min-width: 768px) {
  .test__img {
    display: block;
    flex: 0 1 50%;
  }
}
@media (min-width: 1200px) {
  .test__img {
    flex: 0 1 43%;
    transform: translateX(-70px);
  }
}

.test__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.test__content {
  padding: 50px 0 70px 0;
}
@media (min-width: 768px) {
  .test__content {
    flex: 0 1 50%;
    padding: 40px 0 60px 37px;
  }
}
@media (min-width: 1200px) {
  .test__content {
    flex: 0 1 57%;
    padding: 100px 96px 100px 52px;
  }
}

.test__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .test__header {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .test__header {
    font-size: 30px;
    margin-bottom: 60px;
  }
}

.test__descr-block {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .test__descr-block {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .test__descr-block {
    margin-bottom: 100px;
  }
}

.test__descr-block p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.6;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .test__descr-block p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .test__descr-block p {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .test__descr-block p {
    margin-bottom: 30px;
  }
}

.test__descr-block p:not(:last-child) {
  margin-bottom: 30px;
}

.test__btn {
  font-size: 16px;
  min-height: 50px;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .test__btn {
    min-width: 264px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .test__btn {
    min-height: 60px;
  }
}

.section__follow {
  padding: 40px 0 70px 0;
  display: flex;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .section__follow {
    padding: 100px 0 100px 0;
  }
}

@media (max-width: 767px) {
  .follow__container {
    padding: 0;
  }
}

.follow__body {
  width: 100%;
}
@media (min-width: 1200px) {
  .follow__body {
    width: 66.5%;
    padding-right: 24px;
    padding-bottom: 192px;
  }
}

@media (min-width: 768px) {
  .follow__content-block {
    flex: 0 0 100%;
  }
}

.follow__img-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media (min-width: 768px) {
  .follow__img-list {
    margin: -8px;
  }
}
@media (min-width: 1200px) {
  .follow__img-list {
    margin: -12px;
  }
}

.follow__item {
  flex: 0 1 50%;
  padding: 15px;
}
@media (min-width: 768px) {
  .follow__item {
    flex: 0 1 33.333%;
    padding: 8px;
  }
}
@media (min-width: 1200px) {
  .follow__item {
    padding: 12px;
  }
}

.follow__item--mob-hide {
  display: none;
}
@media (min-width: 768px) {
  .follow__item--mob-hide {
    display: block;
  }
}
@media (min-width: 1200px) {
  .follow__item--mob-hide {
    display: block;
  }
}

.follow__item img {
  width: 100%;
}

.follow__sidebar {
  display: none;
}
@media (min-width: 1200px) {
  .follow__sidebar {
    display: block;
    position: relative;
    flex: 0 0 calc((100vw - 24px) * 0.336 + 12px);
    padding: 0 0 42.5% 0;
    transform: translate(-100%, 0px);
  }
}

@media (min-width: 1344px) {
  .follow__sidebar {
    flex: 0 0 calc(50vw - 217.8px);
  }
}
.follow__sidebar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-position: -100px;
     object-position: -100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .follow__item-title {
    flex: 0 1 66.666%;
  }
}

.follow__title-block {
  padding: 0 18px 0 0;
}
@media (min-width: 768px) {
  .follow__title-block {
    width: 370px;
    padding: 85px 0 0 62px;
  }
}
@media (min-width: 1200px) {
  .follow__title-block {
    width: 100%;
    padding: 106px 0 0 96px;
  }
}

.follow__icon {
  display: block;
  width: 10vw;
  height: 3vw;
  margin-left: auto;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .follow__icon {
    width: 56px;
    height: 8px;
  }
}
@media (min-width: 1200px) {
  .follow__icon {
    width: 72px;
    height: 8px;
    margin-top: 20px;
  }
}

.follow__title--primary {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  font-size: 5vw;
  color: #1b6ab3;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .follow__title--primary {
    font-size: 14px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .follow__title--primary {
    font-size: 20px;
    padding: 0;
  }
}

.follow__title--secondary {
  display: none;
}
@media (min-width: 768px) {
  .follow__title--secondary {
    display: block;
    color: #1b6ab3;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 8px;
  }
}
@media (min-width: 1200px) {
  .follow__title--secondary {
    font-size: 48px;
    line-height: 1.16;
    margin-top: 10px;
  }
}

.footer {
  background-color: #1b6ab3;
  color: #f5f0e2;
}
.footer__top {
  border-bottom: 1px solid #f5f0e2;
}

@media (max-width: 767px) {
  .top-footer__container {
    padding: 0;
  }
  .top-footer__about {
    padding: 0 18px;
    border-top: 1px solid #f5f0e2;
    padding-top: 20px;
  }
  .top-footer__contact {
    padding: 0 18px;
  }
}
.top-footer__body {
  display: flex;
  flex-direction: column-reverse;
  padding: 30px 0 20px 0;
}
@media (min-width: 768px) {
  .top-footer__body {
    flex-direction: row;
    padding: 40px 0 30px 0;
  }
}
@media (min-width: 1200px) {
  .top-footer__body {
    padding: 80px 0 85px 0;
  }
}
.top-footer__about {
  flex: 0 1 100%;
}
@media (min-width: 768px) {
  .top-footer__about {
    flex: 0 1 50%;
    padding-right: 130px;
  }
}
@media (min-width: 1200px) {
  .top-footer__about {
    flex: 0 1 46%;
    padding-right: 218px;
  }
}
.top-footer__contact {
  flex: 0 1 100%;
  margin: 0 0 40px 0;
}
@media (min-width: 768px) {
  .top-footer__contact {
    flex: 0 1 50%;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .top-footer__contact {
    flex: 0 1 64%;
  }
}
.top-footer__logo {
  margin-bottom: 20px;
}
.top-footer__descr {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.6;
  font-size: 10px;
}
@media (min-width: 768px) {
  .top-footer__descr {
    font-size: 12px;
  }
}

.icon-logo__footer {
  position: static;
  fill: #f5f0e2;
}

.contact-footer__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .contact-footer__header {
    font-size: 14px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .contact-footer__header {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
.contact-footer__list {
  display: flex;
}
@media (max-width: 767px) {
  .contact-footer__item {
    flex: 0 1 50%;
  }
}
@media (min-width: 768px) {
  .contact-footer__item:not(:last-child) {
    margin-right: 35px;
  }
}
@media (min-width: 1200px) {
  .contact-footer__item:not(:last-child) {
    margin-right: 75px;
  }
}
.contact-footer__item > *:not(:last-child) {
  margin-bottom: 14px;
}
@media (min-width: 1200px) {
  .contact-footer__item > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
.contact-footer__link {
  font-family: "Roboto";
  font-weight: 400;
  text-transform: uppercase;
  color: #f5f0e2;
  display: flex;
  align-items: center;
  font-size: 9px;
}
@media (min-width: 768px) {
  .contact-footer__link {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .contact-footer__link {
    font-size: 14px;
  }
}
.contact-footer__icon {
  height: 16px;
  margin-right: 5px;
  width: 16px;
}
@media (min-width: 768px) {
  .contact-footer__icon {
    width: 17px;
    margin-right: 6px;
  }
}
@media (min-width: 1200px) {
  .contact-footer__icon {
    height: 24px;
    width: 27px;
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .bottom-footer__container {
    padding: 0;
  }
}
.bottom-footer__body {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .bottom-footer__body {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 30px 0;
  }
}
.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 20px 18px 30px 18px;
  border-top: 1px solid #f5f0e2;
}
@media (min-width: 768px) {
  .footer-social {
    padding: 0;
    border: none;
  }
}
@media (min-width: 1200px) {
  .footer-social {
    padding: 0;
  }
}
.footer-social__list {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-social__list {
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .footer-social__list {
    margin-right: 30px;
  }
}
.footer-social__item:not(:last-child) {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .footer-social__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .footer-social__item:not(:last-child) {
    margin-right: 20px;
  }
}
.footer-social__link {
  display: block;
}
.footer-social__icon {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .footer-social__icon {
    width: 16px;
    height: 16px;
  }
}
@media (min-width: 1200px) {
  .footer-social__icon {
    width: 22px;
    height: 22px;
  }
}
.footer-social__copyright {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.6;
  font-size: 12px;
}
@media (min-width: 768px) {
  .footer-social__copyright {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .footer-social__copyright {
    font-size: 12px;
  }
}

.nav-footer {
  padding: 20px 18px;
}
@media (min-width: 768px) {
  .nav-footer {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .nav-footer {
    padding-right: 45px;
  }
}
.nav-footer__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .nav-footer__item {
    flex: 0 1 33.333%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .nav-footer__item:not(:last-child) {
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .nav-footer__item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav-footer__link {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  color: #f5f0e2;
  text-align: center;
  font-size: 9px;
}
@media (min-width: 768px) {
  .nav-footer__link {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .nav-footer__link {
    font-size: 14px;
  }
}

.page-treatments__list {
  display: flex;
}
@media (min-width: 768px) {
  .page-treatments__list {
    flex-wrap: wrap;
    margin: -8px;
  }
}
@media (min-width: 1200px) {
  .page-treatments__list {
    margin: -12px;
  }
}
@media (min-width: 768px) {
  .page-treatments__item {
    flex: 0 1 50%;
    padding: 8px;
  }
}
@media (min-width: 1200px) {
  .page-treatments__item {
    padding: 12px;
  }
}
@media (min-width: 768px) {
  .page-treatments__block {
    padding-top: 11vw;
  }
}
@media (min-width: 1200px) {
  .page-treatments__block {
    padding-top: 290px;
  }
}
@media (min-width: 768px) {
  .page-treatments__descr-block {
    flex: 0 1 57%;
    min-height: 200px;
  }
}
@media (min-width: 1200px) {
  .page-treatments__descr-block {
    flex: 0 1 230px;
  }
}
.page-treatments__text-block {
  background-color: #8abde2;
  color: #f5f0e2;
  height: 100%;
  padding: 50px 18px 80px 18px;
}
@media (min-width: 768px) {
  .page-treatments__text-block {
    padding: 60px 25px 50px 25px;
  }
}
@media (min-width: 1200px) {
  .page-treatments__text-block {
    padding: 140px 96px 150px 96px;
  }
}
.page-treatments__header {
  font-family: "Oswald";
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .page-treatments__header {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .page-treatments__header {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
.page-treatments__text {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.6;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .page-treatments__text {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .page-treatments__body {
    padding: 60px 0;
  }
}
@media (min-width: 1200px) {
  .page-treatments__body {
    padding-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .page-treatments__item--main {
    padding-top: 0;
  }
}/*# sourceMappingURL=main.css.map */