.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-text-color;
  background-color: $blue-bg-color;

  padding: 0 32px;
  min-height: 50px;

  @include for-size(tablet-landscape) {
    font-size: 10px;
    min-height: 33px;
  }

  @include for-size(desktop) {
    font-size: 16px;
    min-height: 50px;
  }
}
