.smth {
  // .smth__body

  &__body {
    display: flex;
  }

  // .smth__left

  &__left {
    flex: 0 1 50.714%;
  }

  // .smth__right

  &__right {
    flex: 0 1 49.285%;
  }
}
.left-smth {
  // .left-smth__img

  &__img {
    width: 100%;
    height: 100%;
  }
}
.right-smth {
  // .right-smth__img

  &__img {
    width: 100%;
    height: 100%;
  }
}
