.smth {
  // .smth__body

  &__body {
    display: flex;
  }

  // .smth__left

  &__left {
    display: none;

    @include for-size(tablet-landscape) {
      display: block;
      flex: 0 1 50%;
    }

    @include for-size(desktop) {
      flex: 0 1 50.714%;
    }
  }

  // .smth__right

  &__right {
    position: relative;
    flex: 0 1 100%;

    @include for-size(tablet-landscape) {
      flex: 0 1 50%;
    }
    @include for-size(desktop) {
      flex: 0 1 49.285%;
    }
  }
}
.left-smth {
  // .left-smth__img

  &__img {
  }
}
.right-smth {
  // .right-smth__img

  &__img {
  }

  &__text {
    font-family: 'Oswald';
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    color: $beige-text-color;

    font-size: 16px;

    max-width: 552px;

    position: absolute;
    bottom: 50px;
    left: 0;

    padding: 0 18px;

    @include for-size(tablet-landscape) {
      bottom: 30px;
      left: 30px;

      padding: 0;
    }
    @include for-size(desktop) {
      bottom: 100px;
      left: 100px;
      font-size: 30px;
    }
  }
}
