.what-else {
  // .what-else__body

  &__body {
    padding: 60px 0 73px 0;

    @include for-size(tablet-landscape) {
      padding: 60px 0 70px 0;
    }

    @include for-size(desktop) {
      padding: 100px 96px;
    }
  }

  // .what-else__header

  &__header {
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    text-align: center;

    font-size: 28px;
    line-height: 1.42;
    margin-bottom: 20px;

    @include for-size(tablet-landscape) {
      line-height: 1.178;

      margin-bottom: 40px;
    }

    @include for-size(desktop) {
      font-size: 48px;
      line-height: 1.166;
      margin-bottom: 60px;
    }
  }

  // .what-else__list

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0 -8px;

    @include for-size(tablet-landscape) {
      flex-direction: row;
      margin: 0 -12px;
    }

    @include for-size(desktop) {
      margin: 0 -12px;
    }
  }
}

.w-e-list {
  // .w-e-list__item

  &__item {
    padding: 0 8px;
    display: flex;
    flex-direction: column;

    flex: 0 1 100%;

    @include for-size(tablet-landscape) {
      flex: 0 1 33.333%;
    }

    @include for-size(desktop) {
      padding: 0 12px;
    }
  }

  // .w-e-list__img

  &__img {
  }

  &__img img {
    width: 100%;
  }

  // .w-e-list__content

  &__content {
    color: $beige-text-color;
    background-color: $blue-bg-color;

    flex: 1 1 auto;

    padding: 20px 18px;
    // height: 100%;

    @include for-size(tablet-landscape) {
      padding: 16px;
    }

    @include for-size(desktop) {
      padding: 20px;
    }
  }

  &__content--beige {
    background-color: $beige-bg-color;
    color: $primary-text-color;
  }

  &__content--lightblue {
    background-color: $light-blue-bg-color;
  }

  // .w-e-list__title

  &__title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;

    margin-bottom: 9px;

    @include for-size(tablet-landscape) {
      font-size: 14px;
      margin-bottom: 4px;
    }

    @include for-size(desktop) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  // .w-e-list__subtitle

  &__subtitle {
    display: block;

    margin-bottom: 20px;
  }

  // .w-e-list__text

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    @include for-size(tablet-landscape) {
      line-height: 1.4;
    }

    @include for-size(desktop) {
      font-size: 12px;
      line-height: 1.3;
    }
  }
}
