$white-bg-color: #f3efea;
$gray-bg-color: #dbdbdb;
$dark-gray: #e4e4e4;
$blue-bg-color: #1b6ab3;
$light-blue-bg-color: #8abde2;
$beige-bg-color: #dcd7c8;

$primary-text-color: #1b6ab3;
$beige-text-color: #f5f0e2;
$secondary-text-color: #ffffff;
