.page {
}
.page__main-block {
}
.main-block {
  position: relative;
}
.main-block__body {
  position: relative;
  z-index: 2;
  padding-bottom: 60px;
  padding-top: 450px;
  @include for-size(desktop) {
    padding-bottom: 40px;
    padding-top: 560px;
  }
}

.main-block__title-block {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  @include for-size(desktop) {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.title-block__line {
  display: none;

  @include for-size(desktop) {
    display: block;
  }
}
.title-block__title {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $beige-text-color;

  @include for-size(desktop) {
    font-size: 80px;
    line-height: 1.25;
  }
}
.title-block__title.first-title {
  @include for-size(desktop) {
    max-width: 521px;
  }

  &__treatments {
    @include for-size(desktop) {
      padding-bottom: 100px;
    }
  }
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.btn.btn-mobile {
  width: 100%;
  max-width: 410px;
  margin-top: 30px;
  margin: 0 auto;

  @include for-size(tablet-landscape) {
    max-width: 266px;
  }
  @include for-size(desktop) {
    display: none;
  }
}

.main-block__body .swiper-pagination {
  display: none;

  @include for-size(tablet-landscape) {
    top: 52%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
  }
}

.pagination-base .swiper-pagination-bullet {
  background: $blue-bg-color;
  border: 2px solid $blue-bg-color;
  border-radius: 50%;
  opacity: 1;

  cursor: pointer;

  width: 6px;
  height: 6px;

  @include for-size(desktop) {
    width: 10px;
    height: 10px;
  }
}
#swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}
.pagination-base .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 2px solid $blue-bg-color;
  background: none;

  width: 12px;
  height: 12px;

  @include for-size(desktop) {
    width: 14px;
    height: 14px;
  }
}
.swiper-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;

  @include for-size(tablet-landscape) {
    display: block;
  }
}

.swiper-pagination-numbers {
  display: none;

  @include for-size(tablet-landscape) {
    display: flex;

    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
  }

  @include for-size(desktop) {
    width: 134px;
    font-size: 16px;
    line-height: 118%;
  }

  border-bottom: 2px solid #1b6ab3;
}
.swiper-pagination-numbers span:first-child {
  padding-bottom: 10px;

  @include for-size(desktop) {
    padding-bottom: 6px;
  }
}
.swiper-pagination-numbers span:last-child {
  transform: translateY(35px);
}

.main-block__mob-img {
  display: block;

  @include for-size(tablet-landscape) {
    // display: none;
  }
}
