.section__offer {
  position: relative;
}
.block__offer {
  // display: none;
  background-color: $light-blue-bg-color;

  @include for-size(tablet-landscape) {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  @include for-size(desktop) {
    // margin-top: -324px;
  }
}

.offer__container {
}
.offer__card {
  z-index: 2;

  position: relative;

  @include for-size(tablet-landscape) {
    // margin-top: -125px;
  }
}

.offer__body {
  //   padding-left: 204px;
  //   justify-content: space-between;
  display: flex;
  justify-content: flex-end;

  padding-top: 50px;
  padding-bottom: 70px;

  @include for-size(tablet-landscape) {
  }

  @include for-size(desktop) {
    padding-top: 60px;
    padding-bottom: 130px;
  }

  //   padding-right: 108px;
}
.offer__header-block {
  @include for-size(tablet-landscape) {
    flex: 0 1 50%;
  }
}
.offer__header {
  font-family: 'Oswald';
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;

  //   font-size: 20px;
  font-size: 6vw;

  color: $beige-text-color;
  @include for-size(tablet-landscape) {
    font-size: 14px;
  }
  @include for-size(desktop) {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .offer-card__container {
    padding: 0;
  }
}
.offer-card__container {
  display: flex;
  margin: 0 auto;

  @include for-size(tablet-landscape) {
    margin: 0 -12px;
  }

  @include for-size(desktop) {
    padding-left: 100px;
  }
  //   @include for-size(desktop) {
  //     padding-left: 204px;
  //   }
}
@media screen and (min-width: 1344px) {
  .offer-card__container {
    padding-left: 204px;
  }
}
.offer__block {
  //   display: none;

  flex: 0 1 100%;
  @include for-size(tablet-landscape) {
    padding: 0 12px;
    flex: 0 1 33.333%;
  }
}
.item-offer {
  position: relative;
  text-align: center;

  padding: 60px 18px 80px 18px;

  @include for-size(tablet-landscape) {
    padding: 4vw;
  }

  @include for-size(desktop) {
    padding: 60px 46px;
  }
}
.item-offer__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-offer__content-block {
  position: relative;
}
.item-offer__title-block {
  margin-bottom: 70px;

  @include for-size(tablet-landscape) {
    margin-bottom: 6.5vw;
  }

  @include for-size(desktop) {
    margin-bottom: 50px;
  }
}
.item-offer__header {
  font-family: 'Oswald';
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 5vw;

  @include for-size(tablet-landscape) {
    font-size: 1.55vw;
  }
  @include for-size(desktop) {
    font-size: 20px;
  }
}
.item-offer__header:not(:last-child) {
  margin-bottom: 10px;

  @include for-size(tablet-landscape) {
    margin-bottom: 6px;
  }
}
.offer-header__beige {
  color: $beige-text-color;
}
.item-offer__descr {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.2;
  color: $beige-text-color;

  font-size: 4.4vw;

  margin-bottom: 70px;

  @include for-size(tablet-landscape) {
    font-size: 1.3vw;
    margin-bottom: 8.5vw;
  }

  @include for-size(desktop) {
    font-size: 16px;
    margin-bottom: 65px;
  }
}
.item-offer__btn {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $beige-text-color;
  border: 1px solid $beige-text-color;

  width: 100%;
  max-width: 410px;

  padding: 0 20px;
  font-size: 15px;
  min-height: 50px;

  @include for-size(tablet-landscape) {
    min-height: 34px;
    font-size: 12px;
  }

  @include for-size(desktop) {
    min-height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .offer__card-box {
    padding: 0;
  }
}
