.clents__body {
  display: flex;
}
.clients__block {
  padding: 40px 0;
  text-align: center;
  overflow: hidden;

  @include for-size(tablet-landscape) {
    padding: 40px 60px;
  }

  @include for-size(desktop) {
    padding: 80px 96px 129px 0;

    min-width: 47vw;

    text-align: left;
  }
}

.clients__header {
  font-family: 'Oswald';
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;

  // font-size: 28px;
  font-size: 8.5vw;
  margin-bottom: 20px;

  @include for-size(tablet-landscape) {
    font-size: 24px;
    margin-bottom: 30px;
  }

  @include for-size(desktop) {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
.clients__img {
  margin-bottom: 106px;

  @include for-size(tablet-landscape) {
    margin-bottom: 92px;
  }
  @include for-size(desktop) {
    margin-bottom: 114px;
  }
}
.clients__img img {
  max-width: 100%;
}

.clients__title-block {
  text-align: left;
}

.title-block__header {
  font-family: 'Oswald';
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;

  // font-size: 20px;
  font-size: 6.2vw;

  margin-bottom: 40px;

  @include for-size(tablet-landscape) {
    font-size: 20px;
  }

  @include for-size(desktop) {
    font-size: 26px;
  }
}
.title__block-descr {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;

  font-size: 3.75vw;

  @include for-size(tablet-landscape) {
    font-size: 12px;
  }

  @include for-size(desktop) {
    font-size: 16px;
  }
}

.clients__sidebar {
  display: none;
  @include for-size(desktop) {
    display: block;
    min-width: 43vw;
  }
}

.clients__sidebar img {
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.clients-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  bottom: 40%;

  @include for-size(tablet-landscape) {
    bottom: 176px;
  }

  @include for-size(desktop) {
    bottom: 226px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .clients-controls__btn

  &__btn {
  }

  // .clients-controls__icon

  &__icon {
    width: 30px;
    height: 30px;
    @include for-size(tablet-landscape) {
      width: 70px;
    }
  }
}
